<div class="main">

   <div class="nav">

    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="width: 100%;">
        <div class="container-fluid">
          <!-- Logo -->
          <a class="navbar-brand" href="#">
            <img src="assets/images/big-logo.png" alt="Logo" width="50" height="50">
          </a>
          <!-- Navbar Links -->
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0" style="gap: 3vw;">
              <!-- Home -->
              <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
              </li>
              <!-- About -->
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              <!-- SignOut -->
              <li class="nav-item">
                <button type="button" class="btn btn-dark">SignOut</button>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      
      

   </div>

    <div class="content">

        <div class="content">
            <div class="home-container">
              <img class="background-logo" src="assets/images/small-logo.png" alt="Logo" />
              <div class="center-content-container">
                <div class="center-content">
                  <img src="assets/images/form-grey.png" alt="form1" class="form-image-left" />
                  <p>
                    This form is for immigrants who have arrived in Canada and do not have a Canadian doctor’s prescription.
                    Here you need to provide your country’s doctor’s prescription.
                  </p>
                </div>
          
                <div class="center-content">
                  <img src="assets/images/form.png" alt="form2" class="form-image-right" />
                  <p>
                    This emergency form is for locals (immigrants can also use this form) they need have local doctor’s
                    prescription which has expired, and they need their prescribed medication in emergency.
                  </p>
                </div>
              </div>
            </div>
          
            <div>
              <p class="copyright-text">Copyright text - © Copyright of Medical Forms 2024</p>
            </div>
          </div>
          

    </div>

</div>